<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态组件 component</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <child-one v-if="type=='child-one'"></child-one> -->
        <!-- <child-two v-if="type=='child-two'"></child-two> -->
        <component :is="type"></component>
        <button @click="toggle">change</button>
    </div>
    <script>
        // 实现点击按钮，修改type，依次显示 child-one / two
        Vue.component('child-one', {
            template:   '<div>child-one</div>'
        })
        Vue.component('child-two', {
            template:   '<div>child-two</div>'
        })
        var vm = new Vue({
            el: "#app",
            data: {
                type: 'child-one'
            },
            methods: {
                toggle: function(){
                    this.type = (this.type=='child-one')?'child-two':'child-one';        
                }
                
            }
        })
    </script>
</body>
</html>