@import  'reset';
// fontSize默认37.5
$fontSize: 37.5;
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}

@mixin center(){
	display: flex;
	justify-content: center;
	align-items: center;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: " ";
	visibility: hidden;
	height: 0;
}

.iconfont {
	color: #333;
	font-size: px2rem(20);
}